* {
    margin : 0;
    padding : 0;
}
body {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
}
.game {
    position: absolute;
    top: 80%;
    left: center;
    align-items: center;
}

.post {
    position: absolute;
    align-items: right;
}

audio {
    display: none;
}



.btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 3s ease-out;
  background-color: #f2b120; /* Couleur de fond rétro */
  color: #fff; /* Texte blanc pour contraster avec le fond */
  border: none;
  border-radius: 30px; /* Bordures légèrement arrondies */
  padding: 10px 20px;
  font-family: 'Press Start 2P'; /* Police rétro */
  box-shadow: 0 4px #c69c6d; /* Ombre pour donner un effet de bouton pressé */
  cursor: pointer;
  font-size: 1.5em;}