@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
  overflow: hidden; /* Hide scrollbars */
}

#bg-video {
  position: fixed; /* osu absolute selon le besoin */ /* Loïc : ait modifié de absolute à fixed, 01/05/2024 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%; 
  /* max-width: 120% ;
  max-height:120%; */
  min-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100; /* Assurez-vous que la vidéo reste en arrière-plan */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: #c394f8;
  
  &.blue {
    background-color: #428aa6;
  }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
.card-text {
  position: absolute; /* Positionne le texte sur l'image */
  bottom: 10px; /* Ajustez selon le besoin */
  left: 50%;
  transform: translateX(-50%); /* Centre le texte horizontalement */
  color: rgba(10, 147, 232, 0.665); /* Couleur du texte */
  font-family: 'Press Start 2P'; /* Exemple de police */
  font-size: 24px; /* Augmente la taille du texte */
  font-weight: bold; /* Met le texte en gras */
  transition: transform 0.5s ease;
}

#item-1:checked ~ .cards #song-1 .card-text,
#item-2:checked ~ .cards #song-2 .card-text,
#item-3:checked ~ .cards #song-3 .card-text {
  display: block;
  animation: fadeIn 2s ease-out; /* Applique l'animation fadeIn sur 1 seconde */
  animation: cardtexteffect 1s infinite alternate ease-in-out;
}

.hidden-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  display: none;
  margin: 0 10px;
  animation: fadeIn 3s ease-out;
  background-color: #f2b120; /* Couleur de fond rétro */
  color: #fff; /* Texte blanc pour contraster avec le fond */
  border: none;
  border-radius: 5px; /* Bordures légèrement arrondies */
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive; /* Police rétro */
  box-shadow: 0 4px #c69c6d; /* Ombre pour donner un effet de bouton pressé */
  cursor: pointer;
}

.hidden-btn:hover {
  background-color: #c69c6d;
  box-shadow: 0 2px #a67c52;
  transform: translateX(-50%) translateY(2px); /* Inclut translateX pour maintenir la position horizontale */
}

.text-up {
  
    transform: translateX(-50%) translateY(-120px); /* Ajoutez translateX(-50%) pour maintenir le centrage horizontal */
    transition: transform 1.5s ease;
}

.btn-show {
  display: block;
  opacity: 1;
  transition: opacity 3s ease;
}

.crea {
  bottom: 80px;
  margin: auto;
}

.join{
  bottom: 30px;
  margin: auto;
}

#playButton {
  height: 20%;
  width: 20%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  bottom: 0;
}

.neon {
  fill: red;
  filter: url(#neon-effect);
}

#settingsPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  border:hsl(0, 0%, 0%) solid 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  font-family: 'American Typewriter', sans-serif;
  justify-content: center;
  align-items: center;
  /* Reveal with fade in effect */
  transition: opacity 1s ease;
  z-index: 0;
}

/* Bouton arrondi en "pilule" */
#joinGame {
  background-color: #f2b120;
  color: white;
  height: 2em;
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  font-size: small;
  font-family: 'Press Start 2P', cursive;
  /* flex: 1; */
  margin-right: auto;
}

#ghostDiv {
 flex: 1;
}

#gameCodeInput {
  top: 0;
  width: 50%;
  height: 2em;
  border-radius: 2em;
  border: 2px solid black;
  margin: 0.5em;
  padding: 0.5em;
  font-family: 'Press Start 2P', cursive;
  flex: 1;
}

#gameCodeInput:hover {
  border: 2px solid #c69c6d;
}

/* élément gameCode : contenant de gameCodeInput, du bouton joingame et de la div ghostDiv placée pour créer un espace vide à droite, laissant gameCodeInput au milieu et joingame à gauche */
#gameCode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


#joinGame:hover {
  background-color: #c69c6d;
}

/* $btn-close-width:            1em;
$btn-close-height:           $btn-close-width;
$btn-close-padding-x:        .25em;
$btn-close-padding-y:        $btn-close-padding-x;
$btn-close-color:            $black;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
$btn-close-focus-shadow:     $input-btn-focus-box-shadow;
$btn-close-opacity:          .5;
$btn-close-hover-opacity:    .75;
$btn-close-focus-opacity:    1;
$btn-close-disabled-opacity: .25;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%); */

.btn-close {
  width: 1em;
  height: 1em;
  padding: .25em;
  color: black;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  filter: invert(1) grayscale(100%) brightness(200%);
  opacity: .5;
  cursor: pointer;
}

#closeSettingsPanelBtn {
  top: 1em;
  right: 1em;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

@keyframes neonEffect {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 0.25vw #c30bc0, /* Réduit la dispersion de l'ombre */
      0.05vw 0 0.25vw #c30b0b, /* Réduit la dispersion et l'intensité */
      0.15vw 0 0.25vw #c30b0b, /* Ajustements similaires pour les autres ombres */
      0 0 0vw #c30b0b,
      0.05vw 0 0vw #c30b0b,
      0.15vw 0 0vw #c30b0b,
      0 0 0vw #c30b0b,
      0.05vw 0 0vw #c30b0b, /* Couleur plus douce pour une ombre moins intense */
      0.15vw 0 0vw #c30b0b;
  }

  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes cardtexteffect {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 0.25vw #f9f6f6, /* Réduit la dispersion de l'ombre */
      0.05vw 0 0.25vw #f9f6f6, /* Réduit la dispersion et l'intensité */
      0.15vw 0 0.25vw #f9f6f6, /* Ajustements similaires pour les autres ombres */
      0 0 0vw #f9f6f6,
      0.05vw 0 0vw #f9f6f6,
      0.15vw 0 0vw #f9f6f6,
      0 0 0vw #f9f6f6,
      0.05vw 0 0vw #f9f6f6, /* Couleur plus douce pour une ombre moins intense */
      0.15vw 0 0vw #f9f6f6;
  }

  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
  
}

.neon-letter {
  animation: neonEffect 5s infinite alternate ease-in-out;
}